body{ 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #262626;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid #262626;
    padding: 40px 80px;
    position: relative;
    transition: 1s;
    /* overflow: hidden; */
}

a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #262626 ;
    z-index: -1;
    transform: rotateX(90deg);
    transition: 1s;
}
a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #262626 ;
    z-index: -1;
    transform: rotateY(-90deg);
    transition: 1s;
}

a:hover::before {
    transform: translateX(0);
}
a:hover::after {
    transform: translateY(0);
}

a:hover {
    color: white;
}