.btn {
    background-color: blue;
    border: none;
    width: 15vw;
    height: 8vh;
    font-size: 20px;
    color: #fff;
    border-radius: 15px;
    /* transition-property: background-color color width;
    transition-duration: 1s; */
    /* transition-delay: 1s; */
    transition: background-color 3s , color 1s, width 2s;
    /* transition: all 1s; */
}

.btn:hover{
    background-color: green;
    color: black;
    width: 20vw;
}