body {
    perspective: 1000px;
    /* select screen pixels */
}
img {
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 200px;
    transition: transform 3s;

}

img:hover{
 
  transform: translateZ(300px);
 }